<h1>Anaheim Ducks Scrape</h1>

<div id="content">
  <h2>Content:</h2>
  <div id="Articles">
    {{#each data}}
    <h4>Title: {{this.title}}</h4>
    <p>link: {{this.link}}</p>
    {{/each}}
  </div>
  <div id="Notes">
  </div>
</div>
